.idea
.cache/

simbatch/simbatch/config.ini
/data
/prv
/data_test
/definitions_test
simbatch/data_test
simbatch/definitions_test

env/
build/
dist/
eggs/
.eggs/
*.egg-info/
*.egg
*.pyc
__pycache__/
.pytest_cache/

Thumbs.db

