.idea
.cache/

simbatch/config_dev.ini
!simbatch/data/
simbatch/data/*
/prv
/data_test
/definitions_test
simbatch/data_test
simbatch/definitions_test
simbatch/definitions/interaction_example.json

simbatch/server/break.txt
simbatch/server/break__.txt
simbatch/server/log.txt
simbatch/server/script_execute.py


env/
build/
dist/
eggs/
.eggs/
*.egg-info/
*.egg
*.pyc
*.json
__pycache__/
.pytest_cache/

Thumbs.db

